<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ausgabe hinzufügen</title>

<meta charset="utf-8" />
<meta name="description" content="Diese Seite bietet die Möglichkeit eine Ausgabe hinzuzufügen" />
<meta name="author" content="Konrad Eichstädt" />

<link rel="stylesheet" type="text/css" href="../../jquery.datetimepicker.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../../jquery.datetimepicker.full.js"></script>
</head>
<body>
<nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/index.jsf">Home</a></li>
                  <li><a href="/ausgaben/ausgabenListe.jsf">Ausgaben</a></li>
                  <li><a href="/ausgaben/kategorieReport.jsf">Report</a></li>
                  <li><a href="/login.jsf">Login</a></li>
                  <li><a href="/logout.jsf">Logout</a></li>
                </ul>
              </nav>
<h2>Ausgabe hinzufügen</h2>
<form action="#" th:action="@{/ausgaben/add}" th:object="${ausgabe}" method="post">
<label>Datum</label>
<input id="datetimepicker" type="datetime" th:field="*{date}"/>
<label>Beschreibung</label>
<input type="text" th:field="*{description}" />
<label>Betrag</label>
<input type="text" th:field="*{amount}" />
<label>Händler</label>
<select th:field="*{haendler}">
  <option th:each="unternehmen : ${alleUnternehmen}" 
          th:value="${unternehmen.id}" 
          th:text="${unternehmen.name}"></option>
</select>
<select th:field="*{benutzer}">
  <option th:each="benutzer : ${alleBenutzer}" 
          th:value="${benutzer.id}" 
          th:text="${benutzer.name.toString()}"></option>
</select>
<select th:field="*{kategorie}">
  <option th:each="kategorie : ${alleAusgabenKategorien}" 
          th:value="${kategorie.id}" 
          th:text="${kategorie.name}"></option>
</select>
<input type="submit" value="Ausgabe anlegen" />
</form>
<script>jQuery('#datetimepicker').datetimepicker({format:'d.m.Y H:i:s',
		  lang:'de'});</script>
</body>
</html>