<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ausgaben Kategorie Bericht</title>

<meta charset="utf-8" />
<meta name="description" content="Diese Seite stellt alle gebuchten Ausgaben eines Nutzers dar." />
<meta name="author" content="Konrad Eichstädt" />

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(
			[[${reportArray}]]
        );

        var options = {
          title: 'Ausgabenübersicht je Kategorie',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));

        chart.draw(data, options);
      }
      /*]]>*/
    </script>
</head>
<body>
<nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/index.jsf">Home</a></li>
                  <li><a href="/ausgaben/ausgabenListe.jsf">Ausgaben</a></li>
                  <li><a href="/ausgaben/kategorieReport.jsf">Report</a></li>
                  <li><a href="/login.jsf">Login</a></li>
                  <li><a href="/logout.jsf">Logout</a></li>
                </ul>
              </nav>
<div id="ausgabenReport" th:unless="${#lists.isEmpty(reports)}">
<table>
<thead>
	<tr>
		<th>Änderungsdatum</th>
		<th>Betrag</th>
		<th>Kategorie</th>
	</tr>
</thead>
<tbody>
	<tr  th:each="report : ${reports}">
		<td th:text="${report.lastModified != null ? #temporals.format(report.lastModified,'yyyy-MM-dd HH:mm:ss') : '2016-03-20 10:00:00'}"></td>
		<td th:text="${{report.betrag}}"></td>
		<td th:text="${{report.kategorie.name}}"></td>
	</tr>
</tbody>
</table>
<div id="piechart_3d" style="width: 900px; height: 500px;"></div>
</div>
</body>
</html>