<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Liste aller finanziellen Ausgaben</title>

<meta charset="utf-8" />
<meta name="description" content="Diese Seite stellt alle gebuchten Ausgaben eines Nutzers dar." />
<meta name="author" content="Konrad Eichstädt" />
</head>
<body>
<nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/index.jsf">Home</a></li>
                  <li><a href="/ausgaben/ausgabenListe.jsf">Ausgaben</a></li>
                  <li><a href="/ausgaben/add.jsf">Ausgaben hinzufügen</a></li>
                  <li><a href="/ausgaben/kategorieReport.jsf">Report</a></li>
                  <li><a href="/login.jsf">Login</a></li>
                  <li><a href="/logout.jsf">Logout</a></li>
                </ul>
              </nav>
<div id="ausgabenListe" th:unless="${#lists.isEmpty(alleAusgaben)}">
<table>
<thead>
	<tr>
		<th>Nummer</th>
		<th>Datum</th>
		<th>Betrag</th>
		<th>Beschreibung</th>
		<th>Händler</th>
		<th>Benutzer</th>
		<th>Kategorie</th>
		<th>Aktion</th>
	</tr>
</thead>
<tbody>
	<tr  th:each="ausgabe : ${alleAusgaben}">
		<td th:text="${{ausgabe.id}}"></td>
		<td th:text="${ausgabe.date != null ? #temporals.format(ausgabe.date,'yyyy-MM-dd HH:mm:ss') : '2016-03-20 10:00:00'}"></td>
		<td th:text="${{ausgabe.amount}}"></td>
		<td th:text="${{ausgabe.description}}"></td>
		<td th:text="${{ausgabe.haendler.name}}"></td>
		<td th:text="${{ausgabe.benutzer.name.toString()}}"></td>
		<td th:text="${{ausgabe.kategorie.name}}"></td>
		<td><form action="#" th:action="@{/ausgaben/delete}" method="post"><input th:field="${ausgabe.id}" type="hidden"></input><input type="submit" value="Ausgabe löschen" /></form></td>
	</tr>
</tbody>
</table>
</div>
</body>
</html>