<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ausgaben Kategorie Bericht</title>

<meta charset="utf-8" />
<meta name="description" content="Diese Seite stellt alle gebuchten Ausgaben eines Nutzers dar." />
<meta name="author" content="Konrad Eichstädt" />
</head>
<body>
<div id="ausgabenReport" th:unless="${#lists.isEmpty(reports)}">
<table>
<thead>
	<tr>
		<th>Änderungsdatum</th>
		<th>Betrag</th>
		<th>Kategorie</th>
	</tr>
</thead>
<tbody>
	<tr  th:each="report : ${reports}">
		<td th:text="${report.lastModified != null ? #temporals.format(report.lastModified,'yyyy-MM-dd HH:mm:ss') : '2016-03-20 10:00:00'}"></td>
		<td th:text="${{report.betrag}}"></td>
		<td th:text="${{report.kategorie.name}}"></td>
	</tr>
</tbody>
</table>
</div>
</body>
</html>