<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Anmeldung Family Control</title>

<meta charset="utf-8" />
<meta name="description" content="Anmeldeseite für die Anwendung" />
<meta name="author" content="Konrad Eichstädt" />
</head>
<body>
<nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/index.jsf">Home</a></li>
                  <li><a href="/ausgaben/ausgabenListe.jsf">Ausgaben</a></li>
                  <li><a href="/ausgaben/kategorieReport.jsf">Report</a></li>
                  <li><a href="/login.jsf">Login</a></li>
                  <li><a href="/logout.jsf">Logout</a></li>
                </ul>
              </nav>
<h2>Login</h2>
<form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>
